* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

header {
    text-align: center;
    margin: 3rem auto;
    color: rgb(64, 0, 255);
    width: 25%;
}

body {
    background: rgb(224,60,212);
    background: linear-gradient(75deg, rgba(224,60,212,1) 0%, rgba(204,241,96,1) 54%, rgba(110,96,241,1) 87%);
}

h3 {
    color: rgb(64, 0, 255);
}

h3:hover {
    color: red;

}

a {
    text-decoration: none;
    color: rgb(64, 0, 255)
}

.opis {
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    font-size: 1.6rem;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.ponuda {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.karakter {
    width: 25%;
    padding: 2rem;
    text-align: center;
    line-height: 1.3rem;
    color: rgb(4, 54, 8);
    font-weight: bold;
    
}


footer {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

footer a:hover {
    color: red;
}

@media screen and (max-width: 1370px) {
    .karakter {
        width: 50%;
    }

    header {
        text-align: center;
        margin: 3rem auto;
        width: 100%;
        
    }
  }

  @media screen and (max-width: 698px) {
    .ponuda {
        flex-direction: column;
    }

    .karakter {
        width: 100%;
        
    }
  }

